on early-fs
    #wimax
    mkdir /data/misc/wimax 0770 wimax wimax
    mkdir /data/misc/wimax/sockets 0770  wimax wimax
    mkdir /data/wimax/ 0770  system system
    mkdir /data/wimax/log 0770  system system



on init
service dhcpWimax /system/bin/dhcpcd -ABKL -f /etc/wimax/dhcp/wimaxDhcp.conf wimax0
    disabled
    oneshot
    
service sequansd /system/bin/sequansd /etc/wimax/sequansd/sequansd_app.xml
    user root
    group root inet
    socket sequansd_0 dgram 660 root root
    disabled
    oneshot

service wimaxDhcpRelease /system/bin/wimaxDhcpRelease
	class main
    user root
    group root
    disabled
    oneshot

service wimaxDhcpRenew /system/bin/wimaxDhcpRenew
	class main
    user root
    group root
    disabled
    oneshot

service wimaxAddRoute /system/bin/wimaxAddRoute
	class main
    user root
    group root
    disabled
    oneshot

service wimaxDumpLogcat /system/bin/wimaxDumpLogcat /data/wimax/log
    user root
    group root
    disabled
    oneshot

service wimaxDumpKmsg /system/bin/wimaxDumpKmsg /data/wimax/log
    user root
    group root
    disabled
    oneshot

service wimaxDumpLastKmsg /system/bin/wimaxDumpLastKmsg /data/wimax/log
    user root
    group root
    disabled
    oneshot

service wmxCfgItf /system/bin/wimaxConfigInterface
    user root
    group root
    disabled
    oneshot

service wimaxDaemon /system/bin/wimaxDaemon
   user root
   group root

# wimax_mtd daemon
service wimax_mtd /system/bin/wimax_mtd
   user root
   group root
   oneshot

# setWMXPropd daemon
service setWMXPropd /system/bin/setWiMAXPropDaemond
    user root
    group root
    oneshot

# getWMXPropd daemon
service getWMXPropd /system/bin/getWiMAXPropDaemond
    user root
    group root
    oneshot
